@model SCPersonalProject.Areas.Admin.Models.RegisterVeiwModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Register | Minible - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Minible/Admin/dist/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/Minible/Admin/dist/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Minible/Admin/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Minible/Admin/dist/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body class="authentication-bg">
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <a href="index.html" class="mb-5 d-block auth-logo">
                            <img src="~/Minible/Admin/dist/assets/images/logo-dark.png" alt="" height="22" class="logo logo-dark">
                            <img src="~/Minible/Admin/dist/assets/images/logo-light.png" alt="" height="22" class="logo logo-light">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">

                        <div class="card-body p-4">

                            <div class="text-center mt-2">
                                <h5 class="text-primary">Üye Ol </h5>

                            </div>
                            <div class="p-2 mt-4">
                                <form method="post">
                                    <div class="mb-3">
                                        <label class="form-label" for="name">Ad</label>
                                        <input type="text" asp-for="Name" class="form-control" placeholder="Adınızı Giriniz">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="lastname">Soyad</label>
                                        <input type="text" class="form-control" asp-for="SurName" placeholder="Soyadınızı Giriniz">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="useremail">Email</label>
                                        <input type="email" class="form-control" placeholder="Email Adresinizi Giriniz">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="username">Kullanıcı Adı</label>
                                        <input type="text" class="form-control" asp-for="UserName" placeholder="Enter username">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="userpassword">Şifre</label>
                                        <input type="password" class="form-control" asp-for="Password" placeholder="Enter password">
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="auth-terms-condition-check">
                                        <label class="form-check-label" for="auth-terms-condition-check">I accept <a href="javascript: void(0);" class="text-dark">Terms and Conditions</a></label>
                                    </div>



                                    <div class="mt-3 text-end">
                                        <button class="btn btn-primary w-sm waves-effect waves-light" type="submit">Kayıt Ol</button>
                                    </div>

                                  


                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>
                            ©
                            <script>document.write(new Date().getFullYear())</script> Sinan Çıvak
                        </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/Minible/Admin/dist/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Minible/Admin/dist/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Minible/Admin/dist/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Minible/Admin/dist/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Minible/Admin/dist/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Minible/Admin/dist/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/Minible/Admin/dist/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- App js -->
    <script src="~/Minible/Admin/dist/assets/js/app.js"></script>

</body>
</html>

