@using SC.Models
@model BlogDetaills

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddBlogPost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Blog Post Ekle</h4>
                <p class="card-title-desc">
                    Yeni bir blog yazısı eklemek için aşağıdaki formu kullanabilirsiniz.
                </p>

                <form method="post" enctype="multipart/form-data" action="/Admin/BlogDetails/AddDetails">
                    <div class="mb-3 row">
                        <label for="category" class="col-md-2 col-form-label">Kategori Seç</label>
                        <div class="col-md-10">
                            <select class="form-select" id="category" asp-for="BlogCategoryId" required>
                                <option value="" disabled selected>Lütfen bir kategori seçin</option>
                                <option value="1">Yazılım </option>
                                <option value="2">Ülkeler</option>

                            </select>
                        </div>

                    </div>
                    <div class="mb-3 row">
                        <label for="title" class="col-md-2 col-form-label">Başlık</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" asp-for="Name" id="title" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="title" class="col-md-2 col-form-label">Etiketler</label>
                        <div class="col-md-10">
                            <input class="form-control" type="text" asp-for="Tag" id="tag" required>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="content" class="col-md-2 col-form-label">İçerik</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="content" asp-for="Content" rows="6" required></textarea>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="content" class="col-md-2 col-form-label">İçerik2</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="content" asp-for="Content2" rows="6" required></textarea>
                        </div>
                    </div>


                    <div class="mb-3 row">
                        <label for="file" class="col-md-2 col-form-label">Ana Görsel</label>
                        <div class="col-md-10">
                            <input class="form-control" type="file" id="file" asp-for="ImageUrl">
                            <small class="text-muted">Dosya yüklemek için bir dosya seçin.</small>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="file" class="col-md-2 col-form-label">Görsel 2</label>
                        <div class="col-md-10">
                            <input class="form-control" type="file" id="file" asp-for="ImageUrl2">
                            <small class="text-muted">Dosya yüklemek için bir dosya seçin.</small>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="file" class="col-md-2 col-form-label">Görsel 3</label>
                        <div class="col-md-10">
                            <input class="form-control" type="file" id="file" asp-for="ImageUrl3">
                            <small class="text-muted">Dosya yüklemek için bir dosya seçin.</small>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="file" class="col-md-2 col-form-label">Görsel 4</label>
                        <div class="col-md-10">
                            <input class="form-control" type="file" id="file" asp-for="ImageUrl4">
                            <small class="text-muted">Dosya yüklemek için bir dosya seçin.</small>
                        </div>
                    </div>


                    <div class="mb-3 row">
                        <div class="col-md-10 offset-md-2">
                            <button type="submit" class="btn btn-primary">Yazıyı Kaydet</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div> <!-- end col -->
</div>
