
@using SC.Models
@model List<Service> 
<section id="services" class="services-mf pt-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Hizmetler
                    </h3>
                    <p class="subtitle-a">
                        Aşağıdaki hizmetler konusunda bilgi veya destek almak istediğiniz takdirde, yardımcı olmaktan mutluluk duyarım.İletişim kısmından bana ulaşabilirsiniz.
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
     
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="@item.ImageURL"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">@item.Name</h2>
                            <p class="s-description text-center">
                                @item.Desciription
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    
    </div>
</section>