@using SC.Models
@model List<BlogCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}


@await Component.InvokeAsync("SliderList")
<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Tüm İçeriklere Buradan Ulaşabilirsiniz
                    </h3>
                    
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>



        <div class="row">
            @foreach (var item in Model)
            {
                @foreach (var blog in item.BlogDetaills)
                {
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-img">
                                <a href="/BlogRetro/Details/@blog.Id"><img src="@blog.ImageUrl" style="width: 900px; height: 300px;" alt="" class="img-fluid"></a>
                            </div>
                            <div class="card-body">
                                <div class="card-category-box">
                                    <div class="card-category">
                                        <h6 class="category">@item.Name</h6>
                                    </div>
                                </div>
                                <h3 class="card-title"><a href="/BlogRetro/Details/@blog.Id">@blog.Name</a></h3>
                                <p class="card-description">
                                    @{
                                        var limitedContent = blog.Content.Length > 50 ? blog.Content.Substring(0, 50) + "..." : blog.Content;
                                    }
                                    @limitedContent
                                    @if (blog.Content.Length > 50)
                                    {
                                        <a href="/BlogRetro/Details/@blog.Id">Devamını Oku</a>
                                    }
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="post-author">
                                    <a href="#">
                                        <span class="author">Sinan Çıvak</span>
                                    </a>
                                </div>
                                <div class="post-date">
                                    <span class="bi bi-clock"></span> @blog.DateCreated.ToString("MMM/yyyy")
                                </div>
                            </div>
                        </div>
                    </div>


                }

            }

        </div>
    </div>
</section>




