
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*****************Title Başlangıç************************@
<div>
    <div class="card">
        <div class="card-header  text-white bg-danger bg-gradient">
            <span class="fs-4">Hizmetler Bölümü  Listesi</span>
            <a href="#" id="btnEkle" class="btn btn-warning ms-2">Hizmet Ekle</a>
        </div>
        <div class="card-body">
            <table id="serviceTable" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Açıklama</th>
                        <th>Görsel</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
@*****************Title Bitiş************************@

@*****************Modal Başlangıç************************@
<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
     aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Hakkında Bölümü  </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="mb-3">
                        <label class="form-label">Hizmet Adı</label>
                        <input type="text" id="txtName" class="form-control">
                    </div>
                
                    <div class="mb-3">
                        <label class="form-label">Açıklama</label>
                        <textarea id="txtDescription" class="form-control"></textarea>
                    </div>
                   
                    <div class="mb-3">
                        <label class="form-label">Görsel</label>
                        <textarea id="txtImage" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="#" id="btnSave" class="btn btn-primary">Kaydet</a>
            </div>
        </div>
    </div>
</div>

@**********************Modal Bitiş ***************************************@


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $("#btnEkle").click(function () {
            $("#modalTitle").text("Hizmetler Bölümü");
            $("#btnSave").text("Kaydet").removeClass('btn-success').addClass('btn-primary');
            $("#txtName").val("");
            $("#txtDescription").val("");
            $("#txtImage").val("");

            $("#modal").modal('show');

            // Kaydet düğmesi tıklama olayı
            $("#btnSave").off().click(function () {
                let veri = {

                    name: $("#txtName").val(),
                    desciription: $("#txtDescription").val(),
                    imageURL: $("#txtImage").val(),
                };

                $.ajax({
                    type: 'POST',
                    url: '/Admin/Service/AddService',
                    data: veri,
                    success: function (res) {
                        $("#modal").modal('hide');
                        $("#txtName").val("");
                        $("#txtDescription").val("");
                        $("#txtImage").val("");
                        fetchAbout(); // DataTable'ı güncelle
                    }
                });
            });
        });

        var dataTable = $('#serviceTable').DataTable({
            ajax: {
                url: '/Admin/Service/GetList',
                dataSrc: ''
            },
            columns: [
                { data: 'id' },
                { data: 'name' },
                { data: 'desciription' },
                { data: 'imageURL' },
                { data: 'dateCreated' },
                {
                    data: null,
                    render: function (data, type, row) {
                        return `<a href="#" onclick="deleteService(${row.id})" class="btn btn-sm btn-danger">Sil</a>
                                <a href="#" onclick="edit(${data.id})" class="btn btn-sm btn-primary">Düzenle</a>`;
                    }
                }
            ]
        });
    });

    //******************Sİlme foksiyonu Başlangıç *****************************
    function deleteService (serviceId) {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            text: "Kategori Silinecek",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sil!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Admin/Service/DeleteService/' + serviceId,
                    method: 'POST',
                    success: function () {
                        Swal.fire(
                            'Başarılı!',
                            'Kategori silindi.',
                            'success'
                        );

                        DataTable.ajax.reload();
                    },
                    error: function () {
                        Swal.fire(
                            'Hata!',
                            'Kategori silinemedi.',
                            'error'
                        );
                    }
                });
            }
        });
    }
        //******************Sİlme foksiyonu Bitiş *****************************

</script>