<div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>
        <li>
            <a asp-action="Index" asp-controller="User">
                <i class="uil-users-alt"></i><span>Kullanıcı Yönetimi</span>
            </a>
        </li>
        <li>
            <a href="javascript: void(0);" class="has-arrow waves-effect">
                <i class="uil-window-section"></i>
                <span>Düzenlemeler</span>
            </a>
            <ul class="sub-menu" aria-expanded="true">
                <li><a asp-controller="About" asp-action="Hakkkımda">Hakkımda</a></li>
                <li><a asp-controller="Author" asp-action="Index">Hizmetler</a></li>
                <li><a asp-controller="Publisher" asp-action="Index">Projeler</a></li>
                <li><a asp-controller="Category" asp-action="Index">Yetenekler</a></li>
                <li><a asp-controller="Category" asp-action="Index">İletişim</a></li>
                <li><a asp-controller="Category" asp-action="Index">Mesajlar</a></li>
                <li><a asp-controller="Category" asp-action="Index">Blog</a></li>

            </ul>
        </li>
        <li><a asp-controller="Category" asp-action="Index">Ayarlar</a></li>
        <li><a asp-controller="Category" asp-action="Index">Çıkış Yap</a></li>
    </ul>
</div>