<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sinan Çıvak</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    @*<link href="~/person/assets/img/logo67.png" rel="icon">*@
    @*<link href="~/person/assets/img/apple-touch-icon.png" rel="apple-touch-icon">*@

    <!-- Vendor CSS Files -->
    <link href="~/person/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/person/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/person/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/person/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/person/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: DevFolio
    * Updated: Jul 27 2023 with Bootstrap v5.3.1
    * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>