
<body>
    <div class="title-box-2">
        <h5 class="title-left">
Mesaj Gönder
        </h5>
    </div>
    <div>
        <form class="asp-email-form" method="POST">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <input type="text" name="Name" class="form-control" id="name" placeholder="Ad Soyad" required>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <input type="email" class="form-control" name="Mail" id="email" placeholder="Mail Adresi" required>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" name="Content" rows="5" placeholder="Mesaj" required></textarea>
                    </div>
                </div>
                <div class="col-md-12 text-center my-3">
                    <div id="status-messages">
                        <div class="loading" style="display: none;">Loading</div>
               
                        <div class="sent-message" style="display: none;">Mesaj gönderdiğiniz için teşekkür ederim En kısa süre içerisinde dönüş sağlanıcaktır.</div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="button" id="submitButton" class="button button-a button-big button-rouded">Gönder</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        document.getElementById("submitButton").addEventListener("click", function () {
            const nameInput = document.getElementById('name');
            const emailInput = document.getElementById('email');
            const contentInput = document.querySelector('textarea[name="Content"]');

            const formData = new FormData();
            formData.append('Name', nameInput.value);
            formData.append('Mail', emailInput.value);
            formData.append('Content', contentInput.value);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/Default/SendMessage');
            xhr.send(formData);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    // Form başarıyla gönderildi
                    document.querySelector("#status-messages .sent-message").style.display = "block";
                } else {
                    // Form gönderilemedi
                    document.querySelector("#status-messages .error-message").textContent = "Error: " + xhr.statusText;
                }
            };
        });
    </script>
</body>
</html>
